<div class="product-detail">
    <form {{action "submit" on="submit"}} class="form-group">
        {{#if errorMessage}}
            {{#each errorMessage as |message|}}
                <p><i class="fa-solid fa-circle-exclamation"></i> {{message}}</p>    
            {{/each}}
        {{/if}}

        <div class="row form-group">
            <div class="form-check form-switch col">
                <span class="form-check-label">Toggle to Enable or disable the product</span>
                {{input type="checkbox" checked=product.is_shown class="form-check-input"}}
            </div>
        </div>
        <div class="row form-group">
            <label for="title" class="col-sm-4 col-form-label">Title</label>
            <div class="col-sm-8">
                {{input required=true placeholder="Product title" value=product.title class="form-control"}}
            </div>
        </div>

        <div class="row form-group">
            <label for="description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
                {{textarea value=product.description placeholder="Enter description" class="form-control" cols="80" rows="6"}}
            </div>
        </div>

        <div class="row form-group">
            <label for="price" class="col-sm-4 col-form-label">Price(in INR)</label>
            <div class="col-sm-8">
                {{input value=product.price placeholder="Enter Price" type="number" class="form-control"}}
            </div>
        </div>
        <div class="row form-group">
            <label for="quantity" class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
                {{input type="number" placeholder="Enter Quantity" value=product.quantity class="form-control"}}
            </div>
        </div>

        <div class="row form-group">
            <label for="images" class="col-sm-4 col-form-label">Image Link/path</label>
            <div class="col-sm-8">
                {{input placeholder="Enter Image link/path" value=product.images class="form-control"}}
            </div>
        </div>
        

        <div class="submit product-update">
            <button class="btn btn-success" type="submit">Update</button>
        </div>
    </form>
</div>