<div class="container mt-5 user-container">
  <div class="profile-contents">      
      <form class="form-group" {{action "submit" on="submit"}}>
      {{#if errorMessage}}
        {{#each errorMessage as |error|}}
          <h6 class="error">- {{error}}</h6>
        {{/each}}
      {{/if}}

      <div class="row form-group">
        <label class="col-sm-4 col-form-label" for="email">Email</label>
        <div class="col-sm-8">
          <p class="col-form-label">{{user.email}}</p>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="first_name">First Name</label>
        <div class="col-sm-8">
          {{input value=user.firstName placeholder="Enter First Name" class="form-control"}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="last_name">Last Name</label>
        <div class="col-sm-8">
          {{input value=user.lastName placeholder="Enter Last Name" class="form-control"}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="Address">Address</label>
        <div class="col-sm-8">
          {{input value=user.address placeholder="Enter Address" class="form-control"}}
        </div>
      </div>

      <a href="" class="change-password" {{action "showDialog" on="click"}}>Change password</a>

      <div class="submit update-button-div">
        <button class="btn btn-success profile-update-button" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>

<div class="dialog-container {{if this.dialogBox "show-dialog" "hide-dialog"}}">
    <div class="dialog password-dialog">
        <i class="fas fa-times x-close close-button" {{action "hideDialog" on="click"}}></i>
        <div class="contents">
            <form class="form-group" {{action "submitPassword" on="submit"}}>
                <h4 class="title">Password Change</h4>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="password">Old Password</label>
                    <div class="col-sm-8">
                        {{input required=true value=user.old_password type="password" placeholder="Enter Old Password" class="form-control"}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="password">New Password</label>
                    <div class="col-sm-8">
                        {{input required=true value=user.password type="password" placeholder="Enter New Password" class="form-control"}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="password">Confirm Password</label>
                    <div class="col-sm-8">
                        {{input required=true value=user.password_confirmation type="password" placeholder="Confirm New Password" class="form-control"}}
                    </div>
                </div>

                <div class="submit">
                    <button type="submit" class="btn btn-danger">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>